.contactPageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5%;
}

.contactInfo,
.contactForm {
  width: 100%;
  padding: 20px;
}

.contactInfo {
  text-align: center;
  padding: 0px;
  margin: 3rem 0;
}

.method {
  margin-bottom: 20px;
}

.superhead {
  font-size: 32px;
  font-weight: 600;
}

.head {
  font-size: 18px;
  font-weight: 600;
}

.subp {
  line-height: 1.6rem;
  font-size: 16px;
  font-weight: 200;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 100%;
  max-width: 600px;
}

.formRow {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

label {
  font-weight: 200;
  margin-bottom: 10px;
}

.inputDetail {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

textarea {
  width: 100%;
  padding: 10px;
  height: 150px;
  resize: none;
  font-size: 16px;
}

.formSubmit {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.submit-button {
  width: 130px;
  height: 50px;
  border-radius: 5px;
  background-color: #eea302;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #fff;
  border: 2px solid #eea302;
  transition: background-color 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .contactPageContainer {
    flex-direction: row;
    justify-content: space-between;
  }

  .contactInfo {
    margin-left: 10%;
    width: 45%;
    text-align: left;
  }

  .contactForm {
    width: 45%;
  }

  .formRow {
    flex-direction: row;
  }

  .formGroup {
    flex: 1;
    margin: 0 10px;
  }

  .inputDetail,
  textarea {
    width: 100%;
  }

  .submit-button {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 10px 10px;
  }
}

.inputDetail:hover {
  border: 2px solid black;
}
